<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="cs.bean.stud" id="stud1">
        <property name="RollNo" value="1"></property>
        <property name="Name" value="Harshvardhan Yadav"></property>
        <property name="City" value="Mumbai"></property>
    </bean>

</beans>